main {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.pc{
    display:block;
}

.sp{
    display:none;
}

body {
    background: pink;
}

.cheap {
    border-radius: 5px;
    width: 60px;
    height: 70px;
    margin-top: 30px;
    margin-left: -8px;
}

.pic1 {
    position: absolute;
    top: 220px;
    left: 334px;
    z-index: 2;
    height: 60px;
    width: 45px
}

.pic2 {
    position: absolute;
    top: 220px;
    left: 290px;
    z-index: 2;
    opacity: 0.8;
    height: 50px;
    width: 40px;
}

.pic3 {
    position: absolute;
    top: 340px;
    left: 10px;
    z-index: 1;
    opacity: 1;
    height: 50px;
    width: 150px;
}

.company {
    text-decoration: underline black;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: -75px;
    font-weight: bold;
    margin-bottom: 0;
}

#address {
    text-align: right;
    position: absolute;
    top: 325px;
    left: 80px;
    z-index: 1;
    height: 50px;
    width: 300px;
}

.address1,
.address2,
.telnumber{
    font-size: xx-small;
}

.address1,
.address2 {
    font: bold;
}

.url {
    font-size: xx-small;
}

.company1 {
    font-weight: 900;
}

.box {
    text-align: center;
    width: 400px;
    height: 250px;
    line-height: 250px;
    display: flex;
    justify-content: center;
    margin: 150px;
    margin-left: 0px;
    background: color-mix(in srgb-linear, yellow 30%, white 70%);
    box-shadow: 10px 5px 3px gray;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    outline: 2px solid black;
}

.important1 {
    transition-property: border-radius;
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: center;
}

.personal {
    top: 230px;
    left: 90px;
    z-index: 2;
    position: absolute;
}

.busyo,
.ka {
    font-size: small;
    font-family: "BIZ UDGothic", serif;
    witdth:500px;
}



.mail {
    font-size: smaller;
}

.important1:active {
    transform: scale(2,2) translateX(500px);
}

.name222{
    font-size:24pt;
    font-family: SimSun, serif;
    font-weight: bolder;
}
.name333{
    font-size:14pt;
    witdth:500px;
}
@media screen and (max-width:480px) {
    .pc{
        display:none;
    }

    .sp{
        display:block;
    }
    
    main {
        width: 60%;
        height:60%;
    }
    
    .address1,
    .address2,
    .telnumber{
        font-size: xx-small;
    }

    .busyo,.name333{
        white-space: nowrap;
    }
    
    .personal{
        height:600px;
        white-space: nowrap;
    }
    .important2{
         display:inline-block;
         transform-origin:center;
         transition-property: border-radius;
         transition-property: transform;
         transition-duration: 1.5s;
    }
    
    .important2:active{
         transform:translateX(-170px) translateY(500px) scale(1.3,1.3) rotate(-90deg);
    }
    
}
